:root {
  /* font */
  --font-family: Onest;

  /* palette */
  --neutral-900: #151B21;
  --neutral-850: #282D33;
  --neutral-800: #343C44;
  --neutral-700: #454B54;
  --neutral-600: #5D6268;
  --neutral-500: #686D74;
  --neutral-450: #82858A;
  --neutral-400: #919497;
  --neutral-300: #C0C1C3;
  --neutral-200: #D9DADC;
  --neutral-150: #E6E6E9;
  --neutral-100: #ECE9E3;
  --neutral-050: #F1EFEB;
  --neutral-000: #FFFFFF;
}
