:root {
  /* font */
  --font-family: Onest;

  /* palette */
  --neutral-900: #212221FF;
  --neutral-800: #383937FF;
  --neutral-700: #4F504EFF;
  --neutral-600: #666764FF;
  --neutral-500: #7E7E7BFF;
  --neutral-450: #959591FF;
  --neutral-400: #ACACA8FF;
  --neutral-300: #C3C2BEFF;
  --neutral-200: #DAD9D5FF;
  --neutral-100: #ECE9E3FF;
  --neutral-000: #F1EFEB;

  /* animate */
  --ease-decelerate: cubic-bezier(0, 0, 0.15, 1);
  --ease-accelerate: cubic-bezier(0.5, 0, 1, 1);
  --ease-standard: cubic-bezier(0.5, 0, 0.15, 1);
}
