/* index.css */
/* --------------------------------------------------
   PROFILE
-------------------------------------------------- */

.portfolio-section--profile .portfolio-section__aside {
  display: flex;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-card__header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-card__avatar {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  object-fit: cover;
  display: block;
}

.profile-card__text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile-card__name {
  color: var(--neutral-900);
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.profile-card__role {
  color: var(--neutral-500);
  font-size: 14px;
  line-height: 16px;
  font-weight: 350;
}

.profile-card__meta {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.profile-card__meta-item {
  color: var(--neutral-500);
  font-size: 14px;
  line-height: 22px;
  font-weight: 350;
}

/* --------------------------------------------------
   INTRO
-------------------------------------------------- */

.intro {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.intro__paragraph {
  color: var(--neutral-600);
  font-size: 15px;
  line-height: 22px;
  font-weight: 350;
}

.intro__accent {
  color: var(--neutral-800);
  font-weight: 425;
}

.intro__link {
  color: var(--neutral-900);
  text-decoration: underline;
}

/* --------------------------------------------------
   PROJECTS
-------------------------------------------------- */

.project-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.project-card__image-wrapper {
  border-radius: 3px;
  background: var(--neutral-100);
  border: 1px solid var(--neutral-200);
  overflow: hidden;

  transition:
    background-color 120ms var(--ease-standard),
    border-color 120ms var(--ease-standard),
    border-radius 240ms var(--ease-standard);
}

.project-card:hover .project-card__image-wrapper {
  background-color: var(--neutral-100);
  border-color: var(--neutral-200);
}

.project-card__image {
  display: block;
  width: 100%;
  height: 240px;
  object-fit: cover;

  transform: scale(1);
  transition: transform 320ms var(--ease-standard);
  will-change: transform;
}

.project-card:hover .project-card__image {
  transform: scale(1.04);
}

.project-card__body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.project-card__title {
  margin: 0;
  color: var(--neutral-900);
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.project-card__subtitle {
  margin: 0;
  color: var(--neutral-600);
  font-size: 15px;
  line-height: 22px;
  font-weight: 350;
}

/* --------------------------------------------------
   EXPERIENCE
-------------------------------------------------- */

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.experience-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.experience-item__header {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  flex-wrap: wrap;
}

.experience-item__company {
  color: var(--neutral-900);
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.experience-item__site {
  color: var(--neutral-500);
  font-size: 15px;
  line-height: 22px;
  font-weight: 350;
}

.experience-item__dates {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.experience-item__date {
  color: var(--neutral-800);
  font-size: 15px;
  line-height: 22px;
  font-weight: 350;
}

.experience-item__dash {
  flex: 0 0 14px;
  margin-top: 11px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--neutral-500);
}

/* --------------------------------------------------
   SKILLS
-------------------------------------------------- */

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skills-item__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.skills-tag {
  padding: 4px 8px;
  background: var(--neutral-050);

  box-shadow: 0 0 8px var(--neutral-200) inset;

  border-radius: 3px;

  outline: 1px solid var(--neutral-200);
  outline-offset: -1px;

  color: var(--neutral-900);
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.skills-item__description {
  color: var(--neutral-600);
  font-size: 15px;
  line-height: 22px;
  font-weight: 350;
}

/* --------------------------------------------------
   PRINCIPLES
-------------------------------------------------- */

.principles-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.principle-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.principle-item__title {
  margin: 0;
  color: var(--neutral-900);
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.principle-item__description {
  margin: 0;
  color: var(--neutral-600);
  font-size: 15px;
  line-height: 22px;
  font-weight: 350;
}
